.work-thumb{
  position: relative;
}

.work-thumb > h3{
  text-align: center;
  width: 100%;
}

.project-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 10px 10px 10px 10px;
  margin-top: 62px;
  opacity: 0;
  transition: all 1s;
}

.work-thumb:hover > .project-overlay{
  opacity: 1;
}

.project-overlay > h5, .project-overlay > p {
  color: white;
}

.project-icons{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  font-size: 30px;
  transition: all 1s;
}

.work-thumb:hover > .project-icons{
  background-color: rgba(255,255,255,1);
}

.social-icon > li > a{
  font-size: 40px;
}

.gear{
  /* z-index: -1; */
  position: absolute;
}

.big-gear{
  height: 100vh;
  top: calc(50% - 50vh);
  right: -50vh;
  opacity: 0.2;
  animation-name: gear-rot-ccw;
  animation-duration: 20s;
  animation-iteration-count: infinite; 
}

.small-gear{
  height: 60vh;
  top: calc(50% - 30vh);
  left: -30vh;
  opacity: 0.2;
  animation-name: gear-rot-cw;
  animation-duration: 20s;
  animation-iteration-count: infinite; 
}

@media (orientation: portrait){
  .small-gear{
    opacity: 0;
  }
}

@keyframes gear-rot-cw{
  0% {transform: rotate(0deg)}
  20% {transform: rotate(90deg)} 
  25% {transform: rotate(90deg)} 
  45% {transform: rotate(180deg)} 
  50% {transform: rotate(180deg)} 
  70% {transform: rotate(270deg)} 
  75% {transform: rotate(270deg)} 
  95% {transform: rotate(360deg)} 
  100% {transform: rotate(360deg)} 
}

@keyframes gear-rot-ccw{
  0% {transform: rotate(-0deg)}
  20% {transform: rotate(-90deg)} 
  25% {transform: rotate(-90deg)} 
  45% {transform: rotate(-180deg)} 
  50% {transform: rotate(-180deg)} 
  70% {transform: rotate(-270deg)} 
  75% {transform: rotate(-270deg)} 
  95% {transform: rotate(-360deg)} 
  100% {transform: rotate(-360deg)} 
}