#skills {

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .skill {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            font-size: 4rem;
            transition: transform 0.5s;
            &:hover, &:focus {
                transform: scale(1.5);
            }
        }
    }

    @media screen and (max-width: $mobile-width) {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }

        .skill {
            margin: 1rem 0.5rem;
        }

    }
}