header {
    background: $queen-blue;
    padding: 1rem;
    box-sizing: border-box;
    transition: all 1s;

    #name-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        max-height: 5rem;
        height: 100%;
        img {
            height: 100%;
            max-width: 100%;
            transition: all 0.5s;
        }

    }

    .expand-header-button {
        display: none;
        box-sizing: border-box;
        z-index: 10;
    }

    @media screen and (max-width: $tablet-width) {
        padding: 0.25rem;
        overflow: hidden;
        width: 100%;

        #name-wrapper {
            position: relative;
            h1 {
                position: absolute;
                font-size: 0.25rem;
                left: 0;
                top: 6rem;
                opacity: 0;
                transition:
                    opacity 0.5s,
                    left 1s,
                    top 1s,
                    font-size 1s;
            }
        }


        .expand-header-button {
            display: initial;
            height: 5rem;
            width: 2.5rem;

            position: fixed;
            left: calc(5rem - 1px);
            top: 0.25rem;

            border: none;
            background:
                no-repeat center/100% url('../../static/img/expand.svg')
                $queen-blue;
            border-radius: 0 5px 5px 0;

            transition: left 1s;
        }

    }

    @media screen and (max-width: $mobile-width) {
        height: 100%;

        .expand-header-button {
            display: initial;
            height: 4rem;
            width: 4rem;

            position: fixed;
            left: unset;
            right: 0.5rem;
            top: 0.5rem;

            border: 1px solid transparentize($white, 0.8);
            background:
                no-repeat center/60% url('../../static/img/menu.svg')
                $queen-blue;
            border-radius: 5px;

            transition: none;
        }

        #name-wrapper {
            justify-content: flex-start;
        }

        h1 {
            font-size: 1.75rem;
        }
    }
}

header.expanded {
    @media screen and (max-width: $tablet-width) {
        width: 20rem;

        #name-wrapper {
            h1 {
                position: absolute;
                font-size: 2rem;
                left: 6rem;
                top: 1.25rem;
                opacity: 1;
                transition:
                    opacity 0.5s 0.5s,
                    left 1s,
                    top 1s,
                    font-size 1s;
            }
        }

        .expand-header-button {
            left: calc(20rem - 1px);
            transform: rotate(180deg);
            border-radius: 5px 0 0 5px;
        }
    }


    @media screen and (max-width: $mobile-width) {
        width: unset;
        height: 20rem;

        #name-wrapper {
            h1 {
                left: 5.25rem;
            }
        }

        .expand-header-button {
            left: unset;
        }
    }
}