#projects {

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 1rem 0 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $queen-blue;

        .img-container {
            position: relative;
            background-position: top left;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 20rem;
        }

        .content-container {
            padding-left: 1rem;

            a {
                color: $queen-blue;
                font-weight: bold;
            }
        }

        .project-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            a {
                display: flex;
                align-items: center;
                font-size: 1.25rem;
                margin: 0 1rem 0 0;
                padding: 0.75rem 1.25rem;
                background: $queen-blue;
                border-radius: 20px;
                color: $white;
                text-decoration: none;
                border: 1px solid $queen-blue;
                box-sizing: border-box;
                transition: all 0.25s;
                box-shadow: -3px 3px 10px $black;
                font-weight: normal;
                text-align: center;

                i {
                    margin-right: 0.5rem;
                    font-size: 1.5rem;
                }
            }

            a:hover, a:focus {
                background: $white;
                color: $queen-blue;
            }
        }
    }

    .project.reverse {
        .img-container {
            grid-column-start: 2;
            display: flex;
            justify-content: flex-end;
            background-position: top right;
        }

        .content-container {
            grid-column-start: 1;
            grid-row-start: 1;
            padding-left: 0;
            padding-right: 1rem;
        }
    }

    .project:last-of-type {
        border-bottom: none;
    }

    @media screen and (max-width: $mobile-width) {
        .project {
            grid-template-columns: 1fr;
            .content-container {
                margin-top: 2rem;
            }

            .img-container {
                background-position: top center;
            }
        }

        .project.reverse {
            .img-container {
                grid-column-start: 1;
                grid-row-start: 1;
                background-position: top center;
            }

            .content-container {
                grid-column-start: 1;
                grid-row-start: 2;
            }
        }

    }

}